<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Title -->
    <title>星数奇缘</title>

    <!-- Favicon Ico -->
    <link rel="shortcut icon" href="/static/index/images/favicon.ico">

    <!-- Normalize And Bootstrap -->
    <link rel="stylesheet" href="/static/index/css/normalize.css">
    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css">

    <!-- Font Icons -->
    <link rel="stylesheet" href="/static/index/css/font-awesome/css/font-awesome.min.css" />

    <!-- Plugin Default Stylesheets -->
    <link rel="stylesheet" href="/static/index/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/index/css/slider-pro.css">
    <link rel="stylesheet" href="/static/index/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/index/css/owl.theme.css">
    <link rel="stylesheet" href="/static/index/css/owl.transitions.css">
    <link rel="stylesheet" href="/static/index/css/animate.css">
                                 
    <!-- Main Stylesheet -->     
    <link rel="stylesheet" href="/static/index/css/style.css">
    <link rel="stylesheet" href="/static/index/css/responsive.css" />
    <link rel="stylesheet" href="/static/index/css/color.css" id="colors" />

    <!--[if lt IE 9]>
        <script src="__PUBLIC__/index/js/html5shiv.min.js"></script>
        <script src="__PUBLIC__/index/js/respond.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/index/js/selectivizr.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader -->
    {include file="public/header"}


    <!-- =============================
                Main Slider
    ================================== -->
    <section class="slider-pro blete-slider" id="blete-slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>

                <img class="sp-image" src="/static/index/images/img-header/slider-img-1.jpg" alt="Slider 1"/>

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                更新
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    <span class="blete-highlight-text">更快</span> 更好用的工具
                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
            <div class="blete-img-overlay"></div>
                <img class="sp-image" src="/static/index/images/img-header/slider-img-2.jpg" alt="Slider 2"/>

                <h1 class="sp-layer blete-slider-text-big"
                 data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                   Clean Design
                </h1>

                <p class="sp-layer"
                 data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    <span class="blete-highlight-text">Clean</span>lorem ipsum dolor
                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>

                <img class="sp-image" src="/static/index/images/img-header/slider-img-3.jpg" alt="Slider 3"/>

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1000" data-hide-delay="200">
                    Amazing
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                   <span class="blete-highlight-text">Amazing</span> lorem ipsum dolor
                </p>

            </div>
            <!-- Slides End -->

        </div>
    </section>
    <!-- Main Slider End -->

    <!-- =============================
                    About Section
    ================================== -->
    <section id="about" class="blete-section-wrapper">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2>ABOUT <span class="blete-highlight-text">SERVICE</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente veniam, rerum provident repudiandae, ducimus beatae voluptatem ullam delectus eum excepturi quaerat, molestias accusamus. Repellendus, laboriosam recusandae! Illo quod voluptates corrupti!</p>
                </div>
                <!-- Section Header End -->

                <!-- What We Do -->
                <div class="blete-what-we-do">

                    <div class="col-md-3 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInLeft">
                        <div class="blete-icon">
                            <i class="fa fa-key"></i>
                        </div>
                        <h3>WEB SECURITY</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla, porro nemo.</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInLeft" data-wow-delay=".5s">
                        <div class="blete-icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <h3>WEB RESPONSIVE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat hic facilis dolores nam.</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInRight" data-wow-delay=".5s">
                        <div class="blete-icon">
                            <i class="fa fa-search"></i>
                        </div>
                        <h3>SEO OPTIMATION</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae illo nesciunt quas perferendis.</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInRight" data-wow-delay=".5s">
                        <div class="blete-icon">
                            <i class="fa fa-html5"></i>
                        </div>
                        <h3>HTML5 TEMPLATE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, sit, voluptate! Debitis sint ipsum ea aliquid.</p>
                    </div>

                </div>
                <!-- What We Do End -->

            </div>
        </div>
    </section>
    <!-- About Section End -->




{include file="public/footer"}

</body>
</html>
