<!-- =============================
            SCRIPTS
================================== -->
<script src="__PUBLIC__/index/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/index/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/index/js/modernizr.min.js"></script>
<script src="__PUBLIC__/index/js/jquery.easing.1.3.js"></script>
<script src="__PUBLIC__/index/js/jquery.scrollUp.min.js"></script>
<script src="__PUBLIC__/index/js/jquery.easypiechart.js"></script>
<script src="__PUBLIC__/index/js/jquery.countTo.js"></script>
<script src="__PUBLIC__/index/js/isotope.pkgd.min.js"></script>
<script src="__PUBLIC__/index/js/jflickrfeed.min.js"></script>
<script src="__PUBLIC__/index/js/jquery.fitvids.js"></script>
<script src="__PUBLIC__/index/js/jquery.stellar.min.js"></script>
<script src="__PUBLIC__/index/js/jquery.waypoints.min.js"></script>
<script src="__PUBLIC__/index/js/wow.min.js"></script>
<script src="__PUBLIC__/index/js/jquery.nav.js"></script>
<script src="__PUBLIC__/index/js/smooth-scroll.min.js"></script>
<script src="__PUBLIC__/index/js/jquery.magnific-popup.min.js"></script>
<script src="__PUBLIC__/index/js/jquery.sliderPro.min.js"></script>
<script src="__PUBLIC__/index/js/owl.carousel.min.js"></script>
<script src="__PUBLIC__/index/js/custom.js"></script>
<script type="text/javascript" src="__PUBLIC__/login/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/package/js/sui.min.js"></script>