<nav class="footbar mui-clearfix">
    <a href="javascript:;" class="footbar-item" id="hulue">
        <div class="footbar-icon hulue-icon" status="false"></div>
        <span class="mui-tab-label">忽略</span>
    </a>
    <a href="javascript:;" class="footbar-item" id="msgrecord">
        <div class="footbar-icon beixuan-icon" status="false"></div>
        <span class="mui-tab-label">放入备选</span>
    </a>
    <a href="javascript:;" class="footbar-item" id="like">
        <div class="footbar-icon renshi-icon" status="false"></div>
        <span class="mui-tab-label">认识一下</span>
    </a>
</nav>
<!--认识一下在 detail.js-->