<!--获得from的类型-->

{if $froms == 'guangyiguang'}
    <nav class="footbar mui-clearfix">
        <a href="javascript:;" class="footbar-item" id="hulue">
            <div class="footbar-icon hulue-icon" status="false"></div>
            <span class="mui-tab-label">忽略</span>
        </a>
        <a href="javascript:;" class="footbar-item" id="msgrecord">
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">放入备选</span>
        </a>
        <a href="javascript:;" class="footbar-item" id="like">
            <div class="footbar-icon renshi-icon" status="false"></div>
            <span class="mui-tab-label">认识一下</span>
        </a>
    </nav>
{elseif $froms == "likeme"}
    {if $frid == 1}
        <nav class="footbar mui-clearfix" onclick='agree({$uid},{$suid},{$frid},3,3);'>
            <a style="width:100%;" href="javascript:;" class="footbar-item" >
                <div class="footbar-icon beixuan-icon" status="false"></div>
                <span class="mui-tab-label">同意</span></a>
        </nav>
    {elseif $frid == 2}
        <nav class="footbar mui-clearfix">
            <a style="width:100%;" href="javascript:;" class="footbar-item" >
                <div class="footbar-icon beixuan-icon" status="false"></div>
                <span class="mui-tab-label">已同意</span></a>
        </nav>
    {/if}
{elseif $froms == "haveagreed"}
    {if $frid == 1}
        <nav class="footbar mui-clearfix">
            <a style="width:100%;" href="javascript:;" class="footbar-item" >
                <div class="footbar-icon beixuan-icon" status="false"></div>
                <span class="mui-tab-label">等待对方同意</span></a>
        </nav>
    {elseif $frid == 2}
        <nav class="footbar mui-clearfix">
            <a style="width:100%;" href="javascript:;" class="footbar-item" >
                <div class="footbar-icon beixuan-icon" status="false"></div>
                <span class="mui-tab-label">对方已同意</span></a>
        </nav>
    {/if}
{elseif $froms == 'knowothers'}
    <nav class="footbar mui-clearfix">
        <a style="width:100%;" href="javascript:;" class="footbar-item" >
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">相互已认识</span></a>
    </nav>
{elseif $froms == 'myfriend'}
{if $frid == 0}
{if !$isHulve}
    <nav class="footbar mui-clearfix">

        <a href="javascript:;" class="footbar-item" onclick='hulve({$uid},{$suid},1,1);'>
            <div class="footbar-icon hulue-icon" status="false"></div>
            <span class="mui-tab-label">忽略</span>
        </a>
        <a href="javascript:;" class="footbar-item" id="navmsgrecord">
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">放入备选</span>
        </a>
        <a href="javascript:;" class="footbar-item" onclick="send({$suid},{$id},{$uid},1,1)">
            <div class="footbar-icon renshi-icon" status="false"></div>
            <span class="mui-tab-label">认识一下</span>
        </a>
    </nav>
{else}
<nav class="footbar mui-clearfix">
    <a style="width:100%;" href="javascript:;" class="footbar-item" >
        <div class="footbar-icon beixuan-icon" status="false"></div>
        <span class="mui-tab-label">已忽略</span></a>
</nav>
{/if}
{elseif $frid ==1}
    <nav class="footbar mui-clearfix">
        <a style="width:100%;" href="javascript:;" class="footbar-item" >
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">等待对方同意</span></a>
    </nav>
{elseif $frid ==2}
    <nav class="footbar mui-clearfix">
        <a style="width:100%;" href="javascript:;" class="footbar-item" >
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">对方已同意</span></a>
    </nav>
{/if}
{elseif $froms == 'mylike'}
    {if $frid == 2}
        <nav class="footbar mui-clearfix">
            <a style="width:100%;" href="javascript:;" class="footbar-item" >
                <div class="footbar-icon beixuan-icon" status="false"></div>
                <span class="mui-tab-label">对方已同意</span></a>
        </nav>
    {elseif $frid == 1}
        <nav class="footbar mui-clearfix">
            <a style="width:100%;" href="javascript:;" class="footbar-item" >
                <div class="footbar-icon beixuan-icon" status="false"></div>
                <span class="mui-tab-label">等待对方同意</span></a>
        </nav>
    {elseif $frid == 0}
        <nav class="footbar mui-clearfix" onclick="send({$suid},{$id},{$uid},2,2)">
            <a style="width:100%;" href="javascript:;" class="footbar-item" >
                <div class="footbar-icon beixuan-icon" status="false"></div>
                <span class="mui-tab-label" >认识一下</span></a>
        </nav>
    {/if}
{elseif $froms == 'renshi'}
    {if $frid == 2}
    <nav class="footbar mui-clearfix">
        <a style="width:100%;" href="javascript:;" class="footbar-item" >
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">双方已同意</span></a>
    </nav>
    {elseif $frid == 1}
    <nav class="footbar mui-clearfix" onclick='agree({$uid},{$suid},1,3,3);'>
        <a style="width:100%;" href="javascript:;" class="footbar-item" >
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">同意</span></a>
    </nav>
    {elseif $frid == 0}
    <nav class="footbar mui-clearfix" onclick="send({$suid},{$id},{$uid},2)">
        <a style="width:100%;" href="javascript:;" class="footbar-item" >
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label" >认识一下</span></a>
    </nav>
    {/if}
{elseif $froms == 'fromWechatToAgreed'}
    <nav class="footbar mui-clearfix" >
        <a style="width:100%;" href="javascript:;" class="footbar-item" >
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">对方已同意</span></a>
    </nav>
{elseif $froms == 'gxpipei'}
<nav class="footbar mui-clearfix">
    {if $frid == 2}
    <nav class="footbar mui-clearfix" >
        <a style="width:100%;" href="javascript:;" class="footbar-item" >
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">双方已认识</span></a>
    </nav>
    {elseif $frid == 1}
    <nav class="footbar mui-clearfix">
        <a style="width:100%;" href="javascript:;" class="footbar-item" >
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">等待对方同意</span></a>
    </nav>
    {else}
        {if $isFirdStatus == 1}
            <nav class="footbar mui-clearfix" >
                <a style="width:100%;" href="javascript:;" class="footbar-item" >
                    <div class="footbar-icon beixuan-icon" status="false"></div>
                    <span class="mui-tab-label">已加入备选</span></a>
            </nav>
        {elseif $isFirdStatus == 2}
            <nav class="footbar mui-clearfix" >
                <a style="width:100%;" href="javascript:;" class="footbar-item" >
                    <div class="footbar-icon beixuan-icon" status="false"></div>
                    <span class="mui-tab-label">已被忽略</span></a>
            </nav>
        {else}
        <a href="javascript:;" class="footbar-item" onclick='hulve({$uid},{$suid},1,1);'>
            <div class="footbar-icon hulue-icon" status="false"></div>
            <span class="mui-tab-label">忽略</span>
        </a>
        <a href="javascript:;" class="footbar-item" id="navmsgrecord">
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">放入备选</span>
        </a>
        <a href="javascript:;" class="footbar-item" onclick="send({$suid},1,{$uid},2)">
            <div class="footbar-icon renshi-icon" status="false"></div>
            <span class="mui-tab-label">认识一下</span>
        </a>
        {/if}
    {/if}
</nav>
{elseif $froms == 'ppbirthday'}
<nav class="footbar mui-clearfix">
    <a href="javascript:;" class="footbar-item" onclick='hulve({$uid},{$suid},1,1);'>
        <div class="footbar-icon hulue-icon" status="false"></div>
        <span class="mui-tab-label">忽略</span>
    </a>
    <a href="javascript:;" class="footbar-item" id="navmsgrecord">
        <div class="footbar-icon beixuan-icon" status="false"></div>
        <span class="mui-tab-label">放入备选</span>
    </a>
    <a href="javascript:;" class="footbar-item" onclick="send({$suid},1,{$uid},2)">
        <div class="footbar-icon renshi-icon" status="false"></div>
        <span class="mui-tab-label">认识一下</span>
    </a>
</nav>
{elseif $froms == 'mysaw'}
    {if $frid == 0}
    <nav class="footbar mui-clearfix">
            <a href="javascript:;" class="footbar-item" onclick='hulve({$uid},{$suid},1,1);'>
                <div class="footbar-icon hulue-icon" status="false"></div>
                <span class="mui-tab-label">忽略</span>
            </a>
        <a href="javascript:;" class="footbar-item" id="navmsgrecord">
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">放入备选</span>
        </a>
        <a href="javascript:;" class="footbar-item" onclick="AlertSend({$suid},{$id},{$uid},1)">
            <div class="footbar-icon renshi-icon" status="false"></div>
            <span class="mui-tab-label">认识一下</span>
        </a>
    </nav>
{elseif $frid == 11}
<nav class="footbar mui-clearfix" onclick='agree({$uid},{$suid},1,4,4);' >
    <a style="width:100%;" href="javascript:;" class="footbar-item" >
        <div class="footbar-icon beixuan-icon" status="false"></div>
        <span class="mui-tab-label">同意</span></a>
</nav>
{elseif $frid == 12}
<nav class="footbar mui-clearfix">
    <a style="width:100%;" href="javascript:;" class="footbar-item" >
        <div class="footbar-icon beixuan-icon" status="false"></div>
        <span class="mui-tab-label">等待同意</span></a>
</nav>
{elseif $frid == 2}
    <nav class="footbar mui-clearfix" >
        <a style="width:100%;" href="javascript:;" class="footbar-item" >
            <div class="footbar-icon beixuan-icon" status="false"></div>
            <span class="mui-tab-label">已同意对方请求</span></a>
    </nav>
{/if}
<script>
    $('#havemsgrecord').click(function(){
        mui.toast('已经放入备选！');
    });
    $('#beforemsgrecord').click(function(){
        mui.toast('必须先移除忽略！');
    });
    $('#aftermsgrecord').click(function(){
        mui.toast('必须先移除忽略！');
    });
</script>
{/if}
<script>
    /*
     *从备选中添加好友 1-myfriend, 2-mylike, 3-likeme, 4-mysaw, 5-knowothers,
     */
    function AlertSend(suid,id,uid,types){
        var url = '/index.php/weixin/pipei/AlertRenshi';
        if(types){
            type = 1;
        }else{
            type = 0;
        }
        $.ajax(url, {
            data: {
                'suid':suid,
                'id':id,
                'uid':uid,
                'type':type,
            },
            dataType: 'json',
            type: 'post',
            success: function(result) {
                if(result.error_code==0){
                    mui.toast(result.msg);
                    href="/index.php/weixin/center/index";
                    (function(){
                        var wait = 3;
                        var interval = setInterval(function(){
                            var time = --wait;
                            if(time <= 0) {
                                location.href = href;
                                clearInterval(interval);
                            };
                        }, 1000);
                    })();
                }else if(result.error_code== 1){
                    mui.toast(result.msg);
                    href="/index.php/weixin/center/index";
                    (function(){
                        var wait = 3;
                        var interval = setInterval(function(){
                            var time = --wait;
                            if(time <= 0) {
                                location.href = href;
                                clearInterval(interval);
                            };
                        }, 1000);
                    })();
                }
            }
        });
    }
    /*
     *添加好友
     */
    function send(suid,id,uid,type){
        var url = '/index.php/weixin/pipei/renshi';

        $.ajax(url, {
            data: {
                'suid':suid,
                'id':id,
                'uid':uid,
                'type':type,
            },
            dataType: 'json',
            type: 'post',
            success: function(result) {
                if(result.error_code==0){
                    mui.toast(result.msg);
                    href="/index.php/weixin/center/index";
                    (function(){
                        var wait = 3;
                        var interval = setInterval(function(){
                            var time = --wait;
                            if(time <= 0) {
                                location.href = href;
                                clearInterval(interval);
                            };
                        }, 1000);
                    })();
                }else if(result.error_code== 1){
                    mui.toast(result.msg);
                    href="/index.php/weixin/center/index";
                    (function(){
                        var wait = 3;
                        var interval = setInterval(function(){
                            var time = --wait;
                            if(time <= 0) {
                                location.href = href;
                                clearInterval(interval);
                            };
                        }, 1000);
                    })();
                }else if(result.error_code== 2){
                    mui.toast(result.msg);
                    href="/index.php/weixin/info/weixin/id/"+result.id;
                    (function(){
                        var wait = 3;
                        var interval = setInterval(function(){
                            var time = --wait;
                            if(time <= 0) {
                                location.href = href;
                                clearInterval(interval);
                            };
                        }, 1000);
                    })();
                }
            }
        });
    }
    function agree(fid,uid,id,type,from){
        var froms = $('#infox').attr('froms');
        if(id){
            var url = '/index.php/weixin/bus/agree';
        }else{
            var url = '/index.php/weixin/bus/friend';
        }

        $.ajax(url, {
            data: {
                'suid':uid,
                'fid':fid,
                'frid':id,
                'type':type,
                'froms':froms,
            },
            dataType: 'json',
            type: 'post',
            success: function(result) {
				if(result.error_code==0){
				mui.toast(result.msg);
 				href="/index.php/weixin/center/index";
				(function(){
				var wait = 3;
				var interval = setInterval(function(){
					var time = --wait;
					if(time <= 0) {
						location.href = href;
						clearInterval(interval);
					};
				}, 1000);
				})();
				}else if(result.error_code==2){
                    mui.toast(result.msg);
                    (function(){
                    var wait = 3;
                    var interval = setInterval(function(){
                        var time = --wait;
                        if(time <= 0) {
                            location.href = '/index.php/weixin/info/weixin/id/'+result.id;
                            clearInterval(interval);
                        };
                    }, 1000);
                    })();
				}
            }
        });
    }
    /*
    忽略
     */

    function hulve(fid,uid,id,type,froms){
        var froms = $('#infox').attr('froms');
        var url = '/index.php/weixin/pipei/fromCenterToHulve';

        $.ajax(url, {
            data: {
                'uid':uid,
                'suid':fid,
            },
            dataType: 'json',
            type: 'post',
            success: function(result) {
				if(result.error_code==2){
				mui.toast(result.msg);
 				href="/index.php/weixin/center/index";
				(function(){
				var wait = 3;
				var interval = setInterval(function(){
					var time = --wait;
					if(time <= 0) {
						location.href = href;
						clearInterval(interval);
					};
				}, 1000);
				})();
				}else if(result.error_code==1){
				mui.toast(result.msg);
 				href="/index.php/weixin/center/index";
				(function(){
				var wait = 3;
				var interval = setInterval(function(){
					var time = --wait;
					if(time <= 0) {
						location.href = href;
						clearInterval(interval);
					};
				}, 1000);
				})();
				}
            }
        });
    }
    function dishulve(fid,uid,id,type,from){
        var froms = $('#infox').attr('froms');
        var url = '/index.php/weixin/pipei/dishulve';

        $.ajax(url, {
            data: {
                'uid':uid,
                'suid':fid,
            },
            dataType: 'json',
            type: 'post',
            success: function(result) {
                mui.toast(result.msg);
                href="/index.php/weixin/center/index";
                (function(){
                    var wait = 3;
                    var interval = setInterval(function(){
                        var time = --wait;
                        if(time <= 0) {
                            location.href = href;
                            clearInterval(interval);
                        };
                    }, 1000);
                })();
            }
        });
    }
//放入备选列表
    $('#navmsgrecord').click(function(){
        var url = '/index.php/weixin/pipei/beixuan';

        var uid = $('#infox').attr('uid');
        var suid = $('#infox').attr('suid');
        var tjly = $('#infox').attr('tjly');
        var num = $('#infox').attr('num');
        var flag = $('#infox').attr('flag');
        var control = $('#infox').attr('control');
        $.ajax(url, {
            data: {
                'uid':uid,
                'suid':suid,
                'tjly':tjly,
                'num':num,
                'flag':flag,
            },
            dataType: 'json',
            type: 'post',
            success: function(result) {
                    mui.toast(result.msg);
                    setTimeout(function(){ location.href="/index.php/weixin/center/index"; }, 1000);

            }
        });

    })

















</script>
