<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>修改新指令</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/libs/modernizr.min.js"></script>
</head>
<script>
    function check(){
        var order=document.getElementById('order').value;
        var weight=document.getElementById('weight').value;
        var temp=true;
        if(order=="")
        {
            alert('请填入指令');
            temp=false;
        }
        else if(weight=="")
        {
            alert('请填入权重');
            temp=false;
        }
        return temp;
    }
</script>
<body>
{include file="public/header"}
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('index/index')}">首页</a><span class="crumb-step">&gt;</span><span>修改指令</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <form action="__URL__/xiugai?id={$id}" method="post" id="myform" name="myform" onsubmit="return check()" >
                <table class="insert-tab" width="100%">
                    <tbody>

                    <tr>
                        <th  width="120"><i class="require-red">*</i>指令：</th>
                        <td>
                            <input class="common-text required" id="commandname" name="commandname" size="50" value="{$commandname}" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require-red">*</i>权重：</th>
                        <td><input class="common-text" name="weight" size="50" value="{$weight}" type="text"></td>
                    </tr>


                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="上传" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                    </tr>
                    </tbody></table>
            </form>
        </div>
    </div>

</div>
<!--/main-->
</div>
</body>
</html>