<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="/static/weixin/css/style.css">

<script type="text/javascript" src="/static/weixin/js/jquery.min.js"></script> 
<script type="text/javascript" src="/static/weixin/js/mui.min.js"></script>
<script type="text/javascript" src="/static/weixin/js/core.js"></script>
<script>

</script>
{include file="public/header" /}
<title>个人生日填写</title>
</head>
<body class="backgroud-white">
<header class="mui-bar mui-bar-nav">

<h1 class="mui-title">个人生日填写</h1>
</header>
<div class="mui-content">
<div id="info" class="">
<div class="auth">
<div>
<form id="form2" method="post">
<div class="form form-search">
<div class="padding form-list">

<!--生日-->
<div id="BirthdayPicker" class="mui-input-row">
<label><i>*</i>出生日期(阳历)</label>
<font class="mui-pull-right">请选择</font>
<input name="birthday" type="hidden" value="" />
</div>
<!--生日-->

<!--性别-->
<div id="SexPicker" class="mui-input-row">
    <label><i>*</i>性别</label>
    <font class="mui-pull-right">请选择</font>
    <input name="sex" type="hidden" value="" />
</div>
<!--性别-->


<div style="color:red;font-size:12px;">(注)请慎重选择，出生年月日只有一次修改机会</div>
</div></div>

<button class="mui-btn mui-btn-warning mui-btn-block do-submit">提交</button>
    <!--<div id="test">测试</div>-->
</form>
</div> 
</div>
<p>

</p>
</div>
<link href="/static/weixin/css/mui.picker.min.css" rel="stylesheet" /> 
<link href="/static/weixin/css/mui.poppicker.css" rel="stylesheet" />
<script type="text/javascript" src="/static/weixin/js/common.js"></script>
<script src="/static/weixin/js/mui.picker.min.js"></script>
<script src="/static/weixin/js/mui.poppicker.js"></script>
<script src="/static/weixin/js/city.data.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $('#test').click(function(){
            stepOne();
        });
        function stepOne(){
            $.ajax({
                type: "post",
                url: 'changeimg',
                dataType: "json",
                async: true,
                data: {},
                success: function(data) {
                    if (data.result == "success") {
                        stepTwo();
                    }
                }
            });
        }
        function stepTwo(){
            $.ajax({
                type: "post",
                url: 'combineAll',
                dataType: "json",
                async: true,
                data: {},
                success: function(data) {
                    if (data.result == "success") {
                    }
                }
            });
        }
        function findFile(){
            $.ajax({
                type: "post",
                url: 'findFile',
                dataType: "json",
                async: true,
                data: {},
                success: function(data) {
                    if (data.result == "success") {
                        stepTwo();
                    }
                }
            });
        }
    </script>

<script>(function($,doc) {
$.init();
$.ready(function() {
var optionsJson ='{"type":"date","beginYear":1949,"endYear":2000}';
var options =JSON.parse(optionsJson);
var BirthdayPicker =new $.DtPicker(options);
BirthdayPicker.setSelectedValue("1988-01-01");
var BirthdayPickerButton =doc.getElementById('BirthdayPicker');
BirthdayPickerButton.addEventListener('tap',function(event) {
    BirthdayPicker.show(function(items) {
        BirthdayPickerButton.getElementsByTagName('font')[0].innerText =items.text;
        BirthdayPickerButton.getElementsByTagName('input')[0].value =items.text;
        stepOne();
    });},false);



var SexPicker =new $.PopPicker();
SexPicker.setData([{value:'1',text:'男'
},{value:'2',text:'女'
}]);
var SexPickerButton =doc.getElementById('SexPicker');
SexPickerButton.addEventListener('tap',function(event) {
    SexPicker.show(function(items) {
        SexPickerButton.getElementsByTagName('font')[0].innerText =items[0].text;
        SexPickerButton.getElementsByTagName('input')[0].value =items[0].value;
    });},false);


var FindPickerButton =doc.getElementById('FindPicker');
FindPickerButton.addEventListener('tap',function(event) {
    FindPicker.show(function(items) {
        FindPickerButton.getElementsByTagName('font')[0].innerText =items[0].text;
        FindPickerButton.getElementsByTagName('input')[0].value =items[0].value;

    });},false);
});
})(mui,document);
</script>


<script type="text/javascript" src="/static/weixin/js/common.js"></script>
<script language="javascript">
				$(function() {
					//提交表单
					var flag = true;
					$('#form2 .do-submit').click(function () {
					var _this = $(this);
					var bd = $('#form2 input[name="birthday"]');
					var fi = $('#form3 input[name="sex"]');
					    //判断出生日期是否选择
					    if (bd.val() == '' || bd.val() == '0') {
					        mui.toast('请选择您的出生日期');
							flag = false;
					        return false;
					    }else{
							flag = true;
						}
						//判断寻找是否选择
					    if (fi.val() == '' || fi.val() == '0') {
					        mui.toast('请选择您的寻找对象');
							flag = false;
					        return false;
					    }else{
							flag = true;
						}

						if(flag){
							document.getElementById("form2").submit();
						}
						
					});
				});	    
</script>
</div>
{include file="public/footer" /}
</body>
</html>