<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="/static/weixin/css/style.css">
    <script src="/static/weixin/js/hm.js"></script>

    <script type="text/javascript" src="/static/weixin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/weixin/js/mui.min.js"></script>
    <script type="text/javascript" src="/static/weixin/js/core.js"></script>
    <script>

    </script>
    {include file="public/header" /}
    <title>补充个人资料</title>
</head>
<body class="backgroud-white">
<header class="mui-bar mui-bar-nav">

    <h1 class="mui-title">补充个人资料</h1>
</header>
<div class="mui-content">
    <div id="info" class="">
        <div class="auth">
            <div>
                <form id="form2" method="post">
                    <div class="form form-search">
                        <div class="padding form-list">

                            <div id="MarryPicker" class="mui-input-row">
                                <label><i>*</i>婚姻状况</label>
                                <font class="mui-pull-right">请选择</font>
                                <input name="marry" type="hidden" value="">
                            </div>
                            <div id="FindPicker" class="mui-input-row">
                                <label><i>*</i>要寻找的人</label>
                                <font class="mui-pull-right">请选择</font>
                                <input name="find" type="hidden" value="" />
                                <input name="id" type="hidden" value="{$id}" />
                            </div>
                            <div id="BooldPicker" class="mui-input-row">
                                <label><i>*</i>血型</label>
                                <font class="mui-pull-right">请选择</font>
                                <input name="boold" type="hidden" value="">
                            </div>
                            <div id="JobPicker" class="mui-input-row">
                                <label><i>*</i>职业</label>
                                <font class="mui-pull-right">请选择</font>
                                <input name="job" type="hidden" value="">
                            </div>
                            <div id="HeightPicker" class="mui-input-row">
                                <label><i>*</i>身高</label>
                                <font class="mui-pull-right">请选择</font>
                                <input name="height" type="hidden" value="">
                            </div>
                            <div id="XgPicker" class="mui-input-row">
                                <label><i>*</i>性格</label>
                                <font class="mui-pull-right">请选择</font>
                                <input name="xg" type="hidden" value="">
                            </div>
                            <div id="WeightPicker" class="mui-input-row">
                                <label><i></i>体重</label>
                                <font class="mui-pull-right">请选择</font>
                                <input name="weight" type="hidden" value="">
                            </div>

                            <div>
                                <input name="wxnamber" type="text" class="mui-input-clear" style="border-radius:0em;border-bottom:1px #eee solid;border-top:0px;border-left:0px;border-right:0px;padding: 0.2em;font-size: 0.8em;" placeholder="请输入微信号" maxlength="30">
                            </div>
                            <div class="mui-input-row">
                                <textarea name="qianming" class="mui-input-clear" id="qianming" placeholder="请输入您的个性签名"></textarea>
                            </div>
                        </div></div>

                    <button class="mui-btn mui-btn-warning mui-btn-block do-submit">下一步</button>
                </form>
            </div>
        </div>
        <p>

        </p>
    </div>
    <link href="/static/weixin/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/weixin/css/mui.poppicker.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/weixin/js/common.js"></script>
    <script src="/static/weixin/js/mui.picker.min.js"></script>
    <script src="/static/weixin/js/mui.poppicker.js"></script>
    <script src="/static/weixin/js/city.data.js" type="text/javascript" charset="utf-8"></script>
    <script>(function($,doc) {$.init();$.ready(function() {

        var FindPicker =new $.PopPicker();
        FindPicker.setData([
            {value:'合适就行',text:'合适就行'
            },{value:'异性朋友',text:'异性朋友'
            },{value:'同性朋友',text:'同性朋友'
            },{value:'情侣',text:'情侣'
            },{value:'夫妻',text:'夫妻'
            },{value:'同性恋人',text:'同性恋人'
            }
        ]);
        var FindPickerButton =doc.getElementById('FindPicker');
        FindPickerButton.addEventListener('tap',function(event) {FindPicker.show(function(items) {FindPickerButton.getElementsByTagName('font')[0].innerText =items[0].text;
            FindPickerButton.getElementsByTagName('input')[0].value =items[0].value;});},false);

        var MarryPicker =new $.PopPicker();
        MarryPicker.setData([{value:'单身',text:'单身'
        },{value:'恋爱中',text:'恋爱中'
        },{value:'已婚',text:'已婚'
        }]);
        var MarryPickerButton =doc.getElementById('MarryPicker');
        MarryPickerButton.addEventListener('tap',function(event) {MarryPicker.show(function(items) {MarryPickerButton.getElementsByTagName('font')[0].innerText =items[0].text;
            MarryPickerButton.getElementsByTagName('input')[0].value =items[0].value;});},false);

        var BooldPicker =new $.PopPicker();
        BooldPicker.setData([
            {value:'0',text:'不知道'},{value:'A',text:'A型'},{value:'B',text:'B型'
        },{value:'AB',text:'AB型'
        },{value:'O',text:'O型'
        }]);
        var BooldPickerButton =doc.getElementById('BooldPicker');
        BooldPickerButton.addEventListener('tap',function(event) {BooldPicker.show(function(items) {BooldPickerButton.getElementsByTagName('font')[0].innerText =items[0].text;
            BooldPickerButton.getElementsByTagName('input')[0].value =items[0].value;});},false);

        var JobPicker =new $.PopPicker();
        JobPicker.setData([
            {value:'0',text:'未选择'},
            {value:'在读初中生',text:'在读初中生'},
            {value:'在读高中生',text:'在读高中生'},
            {value:'在读专科生',text:'在读专科生'},
            {value:'在读大学生',text:'在读大学生'},
            {value:'在读研究生',text:'在读研究生'},
            {value:'博士/教授/讲师',text:'博士/教授/讲师'},
            {value:'学术/科研/科学家',text:'学术/科研/科学家'},
            {value:'计算机/互联网/软件',text:'计算机/互联网/软件'},
            {value:'通信/电信',text:'通信/电信'},
            {value:'机械/工程师/技工',text:'机械/工程师/技工'},
            {value:'电子/半导体/仪表仪器',text:'电子/半导体/仪表仪器'},
            {value:'房地产/装修/物业',text:'房地产/装修/物业'},
            {value:'会计师/审计师/统计师',text:'会计师/审计师/统计师'},
            {value:'金融/证券/股票/保险',text:'金融/证券/股票/保险'},
            {value:'采购/贸易',text:'采购/贸易'},
            {value:'高层/管理',text:'高层/管理'},
            {value:'咨询/顾问',text:'咨询/顾问'},
            {value:'人力资源/行政/后勤',text:'人力资源/行政/后勤'},
            {value:'仓储/物流',text:'仓储/物流'},
            {value:'客户服务/技术支持',text:'客户服务/技术支持'},
            {value:'销售/业务员',text:'销售/业务员'},
            {value:'市场/拓展',text:'市场/拓展'},
            {value:'广告/公关',text:'广告/公关'},
            {value:'媒体/记者/编辑',text:'媒体/记者/编辑'},
            {value:'创意产业/设计师/艺术家',text:'创意产业/设计师/艺术家'},
            {value:'形象设计/造型师/美容师',text:'形象设计/造型师/美容师'},
            {value:'影视/制片/导演/摄像',text:'影视/制片/导演/摄像'},
            {value:'漫画家/动画制作',text:'漫画家/动画制作'},
            {value:'录音师/特效师',text:'录音师/特效师'},
            {value:'模特/主持人/演员/歌手',text:'模特/主持人/演员/歌手'},
            {value:'作家/文学',text:'作家/文学'},
            {value:'普通服务行业',text:'普通服务行业'},
            {value:'餐饮/酒店',text:'餐饮/酒店'},
            {value:'旅游',text:'旅游'},
            {value:'航空服务业/空姐/飞行员',text:'航空服务业/空姐/飞行员'},
            {value:'公务员/国家干部',text:'公务员/国家干部'},
            {value:'质控/安检',text:'质控/安检'},
            {value:'翻译',text:'翻译'},
            {value:'老师/教育/培训',text:'老师/教育/培训'},
            {value:'法律/律师',text:'法律/律师'},
            {value:'医疗/保健/医生/护理',text:'医疗/保健/医生/护理'},
            {value:'生物/制药/医疗器械',text:'生物/制药/医疗器械'},
            {value:'体育工作者/运动员',text:'体育工作者/运动员'},
            {value:'文艺工作者/舞蹈家/演奏家',text:'文艺工作者/舞蹈家/演奏家'},
            {value:'武警/警察/消防/军人',text:'武警/警察/消防/军人'},
            {value:'生产/加工/制造',text:'生产/加工/制造'},
            {value:'农/林/牧/渔业',text:'农/林/牧/渔业'},
            {value:'化工/能源',text:'化工/能源'},
            {value:'考古/地质勘查',text:'考古/地质勘查'},
            {value:'自主经营',text:'自主经营'},
            {value:'自由职业者',text:'自由职业者'}
        ]);
        var JobPickerButton =doc.getElementById('JobPicker');
        JobPickerButton.addEventListener('tap',function(event) {JobPicker.show(function(items) {JobPickerButton.getElementsByTagName('font')[0].innerText =items[0].text;
            JobPickerButton.getElementsByTagName('input')[0].value =items[0].value;});},false);

        var XgPicker =new $.PopPicker();
        XgPicker.setData([{value:'内向',text:'内向'
        },{value:'外向',text:'外向'
        },{value:'温柔可爱',text:'温柔可爱'
        }]);
        var XgPickerButton =doc.getElementById('XgPicker');
        XgPickerButton.addEventListener('tap',function(event) {XgPicker.show(function(items) {XgPickerButton.getElementsByTagName('font')[0].innerText =items[0].text;
            XgPickerButton.getElementsByTagName('input')[0].value =items[0].value;});},false);

        var HeightPicker =new $.PopPicker();HeightPicker.setData([
            {value:'0',text:'请选择'},
            {value:'160cm以上',text:'160cm以上'},
            {value:'170cm以上',text:'170cm以上'},
            {value:'180cm以上',text:'180cm以上'},
        ]);
        var HeightPickerButton =doc.getElementById('HeightPicker');
        HeightPickerButton.addEventListener('tap',function(event) {HeightPicker.show(function(items) {HeightPickerButton.getElementsByTagName('font')[0].innerText =items[0].text;
            HeightPickerButton.getElementsByTagName('input')[0].value =items[0].value;});},false);

        var WeightPicker =new $.PopPicker();
        WeightPicker.setData([{value:'0',text:'请选择'
        },{value:'偏瘦',text:'偏瘦'
        },{value:'偏胖',text:'偏胖'
        },{value:'中等',text:'中等'
        }]);
        var WeightPickerButton =doc.getElementById('WeightPicker');
        WeightPickerButton.addEventListener('tap',function(event) {WeightPicker.show(function(items) {WeightPickerButton.getElementsByTagName('font')[0].innerText =items[0].text;
            WeightPickerButton.getElementsByTagName('input')[0].value =items[0].value;});},false);
    });
    })(mui,document);</script>
    <script type="text/javascript" src="/static/weixin/js/common.js"></script>
    <script language="javascript">
        $(function() {
            //提交表单
            var flag = true;
            $('#form2 .do-submit').click(function () {

                var _this = $(this);

                var xb = $('#form2 input[name="find"]');
                var ma = $('#form2 input[name="marry"]');
                var ht = $('#form2 input[name="height"]');
                var wt = $('#form2 input[name="weight"]');
                var xg = $('#form2 input[name="xg"]');
                var jb = $('#form2 input[name="job"]');
                var bld = $('#form2 input[name="boold"]');
                var wx = $('#form2 input[name="wxnamber"]');
                var qm = $('#qianming');

                //判断要寻找的对象是否选择
                if (xb.val() == '' || xb.val() == '0') {
                    mui.toast('请选择您的性别');
                    flag = false;
                    return false;
                }else{
                    flag = true;
                }



                //判断婚姻状况是否选择
                if (ma.val() == '' || ma.val() == '0') {
                    mui.toast('请选择您的婚姻状况');
                    flag = false;
                    return false;
                }else{
                    flag = true;
                }

                //判断血型是否选择
                if (bld.val() == '' || bld.val() == '0') {
                    mui.toast('请选择您的血型');
                    flag = false;
                    return false;
                }else{
                    flag = true;
                }

               	//判断职业是否选择
                 if (jb.val() == '' || jb.val() == '0') {
                 mui.toast('请选择您的职业');
                 flag = false;
                 return false;
                 }

                 //判断性格是否选择
                // if (xg.val() == '' || xg.val() == '0') {
                // mui.toast('请选择您的性格');
                // flag = false;
                // return false;
                // }


                 //判断身高是否选择
                 if (ht.val() == '' || ht.val() == '0') {
                 mui.toast('请选择您的身高');
                 flag = false;
                 return false;
                 }
                 //判断体型是否选择
                // if (wt.val() == '' || wt.val() == '0') {
                // mui.toast('请选择您的体重');
                // flag = false;
                // return false;
                // }

                //判断是否填写微信
                if (wx.val() == '') {
                    mui.toast('请填写您的微信号');
                    wx.focus();
                    flag = false;
                    return false;
                }else{
                    flag = true;
                }
                //判断是否填写签名
//                if (qm.val() != '') {
//                    var unlen = getByteLen(qm.val());
//                    if (unlen < 6 || unlen > 100) {
//                        mui.toast('签名长度为6-50个字符');
//                        qm.focus();
//                        flag = false;
//                        return false;
//                    }else{
//                        flag = true;
//                    }
//                }

                if(flag){
                    document.getElementById("form2").submit();
                }

            });
        });
        //判断字符串长度（中文/英文）
        function getByteLen(val) {
            var len = 0;
            for (var i = 0; i < val.length; i++) {
                var a = val.charAt(i);
                if (a.match(/[^\x00-\xff]/ig) != null) {
                    len += 2;
                } else {
                    len += 1;
                }
            }
            return len;
        }
    </script>
    {include file="public/footer" /}
</div>
</body>
</html>