<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="/static/weixin/css/style.css">
    <script src="/static/weixin/js/hm.js"></script>

    <script type="text/javascript" src="/static/weixin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/weixin/js/mui.min.js"></script>
    <script type="text/javascript" src="/static/weixin/js/core.js"></script>
    <script>

    </script>
    {include file="public/header" /}
    <title>星数奇缘</title>
</head>
<body class="backgroud-white">
<header class="mui-bar mui-bar-nav">

    <h1 class="mui-title">补充微信资料</h1>
</header>
<div class="mui-content">
    <div id="info" class="">
        <div class="auth">
            <div>
                <form id="form2" method="post">
                    <div class="form form-search">
                        <div class="padding form-list">
                            <div>
                                <input name="wxnamber" type="text" class="mui-input-clear" style="border-radius:0em;border-bottom:1px #eee solid;border-top:0px;border-left:0px;border-right:0px;padding: 0.2em;font-size: 0.8em;" placeholder="请输入微信号" maxlength="30">
                            </div>

                        </div></div>

                    <button class="mui-btn mui-btn-warning mui-btn-block do-submit">确认</button>
                </form>
            </div>
        </div>
        <p>

        </p>
    </div>
    <link href="/static/weixin/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/weixin/css/mui.poppicker.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/weixin/js/common.js"></script>
    <script src="/static/weixin/js/mui.picker.min.js"></script>
    <script src="/static/weixin/js/mui.poppicker.js"></script>
    <script src="/static/weixin/js/city.data.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" src="/static/weixin/js/common.js"></script>
    <script language="javascript">
        $(function() {
            //提交表单
            var flag = true;
            $('#form2 .do-submit').click(function () {

                var _this = $(this);
                var wx = $('#form2 input[name="wxnamber"]');

                if (wx.val() == '') {
                    mui.toast('请填写您的微信号');
                    wx.focus();
                    flag = false;
                    return false;
                }else{
                    flag = true;
                }

            });
        });

    </script>
</div>
</body>
</html>