<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="/static/weixin/css/style.css">
<script type="text/javascript" src="/static/weixin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/weixin/js/mui.min.js"></script>
<script type="text/javascript" src="/static/weixin/js/core.js"></script>
<script>$(window).ready(function () {(function ($) {$('body').on('tap','.link',function (event) {var url =this.getAttribute('href');var blank =this.getAttribute('target');if (blank =='_blank') {window.open(url);} else {window.location.href =url;}
});$('body').on('tap','.v-link',function (event) {var url =this.getAttribute('href');var blank =this.getAttribute('target');Common.downloadApp(function(){if(url =='javascript:;'||url ==null ||url ==undefined ||url ==''){return false;}
if (blank =='_blank') {window.open(url);} else {window.location.href =url;}
});});})(mui);var lab =document.getElementsByClassName('site-nav')[0];if (lab) {var nav =getCookie('tab_item');if (nav) {var as =lab.getElementsByTagName('a');for (var i;i < as.length;i++) {as[i].className ='link'
}
as[nav - 1].className ='link mui-active'
}
}
})
</script>
{include file="public/header" /}
<title>{$list.name}资料</title>
<meta name="description" content="星数奇缘婚恋交友网站--星数奇缘：真实的会员{$list.name}个人资料，{$list.name}交友联系电话 ，快来速配，找对象的好去处，星数奇缘实名婚恋网站，直营连锁创导者，更提供丰富多彩的交友征婚活动！">
<meta name="keywords" content="{$list.name}会员征婚照片电话">
</head>
<body userid="{$uid}">
<div class="mui-content backgroud-gray">

<div class="self-intro">
<div class="self-intro-main">
    <h4 style="color:#fff;text-align:center;widht:100%;">{$list.name}</h4>
<div class="self-avatar" style="background-image:url({$list.header});">
<div class="audit-hint">
</div>
</div>
    <div class="data">
        <span class="sex" status="{$list.Sex}"></span>
        <span>{$age}</span>
        <span>{$start}{$list['Blood']}</span>
        <span>{$list['zhiye']}{$list['height']}</span>
    </div>
    <div class="data">
        {if $list['Sign']}<span>{$list['Sign']}</span>{/if}
    </div>
<!--<div class="mood">{$list.Sign}</div>-->
</div>
<img class="self-intro-bg" src="/static/weixin/images/self_detail_top.jpg" />
</div>
<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted background-white self-preview-wrapper" {if $flag==2} style="display:none;" {/if}>
<div class="mui-scroll" id="album">
<div class="mui-table-view mui-grid-view boder-none">

<div class="showImg">
 {volist name='xc' id='pho'}
	<img width="80" height="80" src="/{$pho.photo}" data-preview-src="/{$pho.photo}" data-preview-group="{$pho.id}" >
{/volist}
</div>

</div>
</div>
</div>
<section class="cm-list-style">
<div class="group">
<div class="label">基本资料</div>
<div class="values">
<div class="values-main">
{if $list.height}<span class="value-item">{$list.height}</span>{/if}
{if $list.weight}<span class="value-item">{$list.weight}</span>{/if}
{if $list.Gqzt}<span class="value-item">{$list.Gqzt}</span>{/if}
{if $list.Province && $list.City}<span class="value-item">{$list.Province}-{$list.City}</span>{/if}
{if $list.salary}<span class="value-item">{$list.salary}</span>{/if}
{if $list.character}<span class="value-item">{$list.character}</span>{/if}
{if $list.Blood}<span class="value-item">{$list.Blood}型</span>{/if}
{if $list.education}<span class="value-item">{$list.education}</span>{/if}

</div>
</div>
</div>

<div class="group">
<div class="label">兴趣爱好</div>
<div class="values">
<div class="values-main">
 {volist name='intes' id='listv'}
<span class="value-item">{$listv}</span>
{/volist}
</div>
</div>
</div>
{if condition="$list.school neq ''"}
<div class="group">
<div class="label">毕业学校</div>
<div class="values">
<div class="values-main">
<p>{$list.school}</p>
</div>
</div>
</div>
{/if}
{if $list.stuabroad}
<div class="group">
<div class="label">留学经历</div>
<div class="values">
<div class="values-main">
<p>{$list.stuabroad}</p>
</div>
</div>
</div>
{/if}
{if $list.houst}
<div class="group">
<div class="label">车房</div>
<div class="values">
<div class="values-main">
<p>{$list.houst}</p>
</div>
</div>
</div>
{/if}
{if $list.residence}
<div class="group">
<div class="label">户口</div>
<div class="values">
<div class="values-main">
<p>{$list.residence}</p>
</div>
</div>
</div>
{/if}
</section>
<section class="margin-top cm-list-style">
<div class="group">
<div class="label">择偶要求</div>
<div class="values">
<div class="values-main">
{if $list.Wanna}<span class="value-item">{$list.Wanna}</span>{/if}
{if $list.Loveage}<span class="value-item">{$list.Loveage}</span>{/if}
{if $mfindval.start}<span class="value-item">{$mfindval.start}</span>{/if}
{if $mfindval.boold}<span class="value-item">{$mfindval.boold}型血</span>{/if}
{if $mfindval.height}<span class="value-item">{$mfindval.height}</span>{/if}

</div>
</div>
</div>
</section>

<div class="mui-pull-bottom-pocket mui-block mui-visibility" style="background-color:#fff;"></div>
<div id="deinfox" uid="{$uid}" suid="{$suid}" tjly="{$tjly}"></div>
</div>

<nav class="footbar mui-clearfix" {if $flag2==1}style="display:none;"{/if}>
<a style="width:100%;" href="javascript:;" class="footbar-item" onclick='agree({$uid},{$suid},{$frid});'><div class="footbar-icon beixuan-icon" status="false"></div><span class="mui-tab-label">{if $frid == 1}同意{else}加为好友{/if}</span></a>
</nav>
<link rel="stylesheet" type="text/css" href="/static/weixin/css/mui.previewimage.css">
<script src="/static/weixin/js/mui.zoom.js"></script>
<script src="/static/weixin/js/mui.previewimage.js"></script>
<script src="/static/weixin/js/common.js"></script>
<script src="/static/weixin/js/detail.js"></script>
<script>mui.previewImage();</script>
<script>
	function agree(fid,uid,id){
		if(id){
			var url = '/index.php/weixin/bus/agree';
		}else{
			var url = '/index.php/weixin/bus/friend';
		}

		$.ajax(url, {
			data: {
				'suid':uid,
				'fid':fid,
				'frid':id,
			},
			dataType: 'json',
			type: 'post',
			success: function(result) {
				if(result.error_code==0){
				mui.toast(result.msg);
 				href="/index.php/weixin/center/index";
				(function(){
				var wait = 3;
				var interval = setInterval(function(){
					var time = --wait;
					if(time <= 0) {
						location.href = href;
						clearInterval(interval);
					};
				}, 1000);
				})();
				}
			}
		});
	}
</script>
{include file="public/footer" /}
</body>
</html>